{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static  'base.css' %}">
    {% block styles %}{% endblock %}
    <title>
      {% block title %}{% endblock %}
    </title>

    <!-- Ajouter le manifeste -->
    <link rel="manifest" href="{% static 'manifest.json' %}">

    <!-- Ajouter le service worker -->
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{% static 'sw.js' %}')
          .then(registration => console.log('Service Worker enregistré avec succès:', registration))
          .catch(error => console.log('Erreur d\'enregistrement du Service Worker:', error));
      }
    </script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>